<!-- form -->
<div class="container w-50">
  <div class="d-flex justify-content-between my-2">
    <h3>Create Issue Page</h3>
    <button type="submit" class="btn btn-primary ">Create Label</button>
  </div>
  <form
    action="/api/v1/issues/"
    method="POST"
    class="p-2 border border-secondary-subtle mb-4"
  >
    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text">Title</span>
        <input
          required
          name="Name"
          type="text"
          aria-label="name"
          class="form-control"
          placeholder="enter title name"
        />
      </div>
    </div>

    <div class="mb-3">
      <div class="input-group">
        <label for="exampleFormControlTextarea1" class="form-label p-2"
          >Description</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
        ></textarea>
      </div>
    </div>
    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text">Author</span>
        <input
          required
          name="author"
          type="text"
          aria-label="text"
          class="form-control"
          placeholder="enter author name"
        />
      </div>
    </div>
    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text">Label</span>
        <div class="dropdown">
          <button
            class="btn dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Choose label
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div align="end">
      <button type="button" class="btn btn-danger">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <!-- <form action="">
    <div class="mb-3">
      <label for="" class="form-label"
        >Title</label
      >
      <input type="" class="form-control" id="" />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Example textarea</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
  </form> -->
</div>
