<!-- background image Section -->
<div class="container">
  <!-- Create project button -->
  <div class="py-2 d-flex justify-content-between">
    <h3>List of Project's</h3>
    <button
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      class="btn btn-info text-white"
    >
      Create New Project
    </button>
  </div>

  <!-- List of project -->
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">SI No</th>
        <th scope="col">Project Name</th>
        <th scope="col">Author</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% if(projects.length > 0) { projects.forEach((project, index) => { %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= project.projectName %></td>
        <td><%= project.author %></td>
        <td>
          <a
            type="button"
            class="btn btn-link"
            href="/api/v1/projects/<%= project._id %>"
          >
            View
          </a>
        </td>
      </tr>
      <% }) } else { %>
      <h1>No Projects found</h1>
      <% } %>
    </tbody>
  </table>
</div>

<!-- Modal for Create New Project starts-->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title bold" id="staticBackdropLabel">
          New Project Page
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/api/v1/projects/" method="POST" class="p-2">
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Project Name</span>
              <input
                required
                name="projectName"
                type="text"
                aria-label="name"
                class="form-control"
                placeholder="enter project name"
              />
            </div>
          </div>

          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Description</span>
              <textarea name="description" id="Description" required></textarea>
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Author</span>
              <input
                required
                name="author"
                type="text"
                aria-label="text"
                class="form-control"
                placeholder="enter author name"
              />
            </div>
          </div>

          <div align="end">
            <!-- Button trigger login modal -->
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-primary" onclick="">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for registration ends -->

<!-- Modal for login starts -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">
          User Login
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/api/v1/auth/login" method="POST" class="p-2">
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Email</span>
              <input
                required=""
                name="email"
                type="email"
                aria-label="email"
                class="form-control"
                placeholder="enter your email"
              />
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Password</span>
              <input
                required=""
                name="password"
                type="password"
                aria-label="password"
                class="form-control"
                placeholder="enter your password"
              />
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-sm btn-danger"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal for login ends -->
