<div
  class="modal fade"
  id="staticBackdropDetails"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div align="end">
    <button type="button" class="btn btn-info">Create Issue</button>
  </div>

  <div>
    <h3>Project Details Page</h3>
    <table
      action="/"
      method="POST"
      class="table table-dark"
      id="staticBackdropDetails"
    >
      <thead>
        <tr>
          <th scope="col">Project Name</th>
          <th scope="col">Author</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">fft</th>
          <td>Mark</td>
          <td>Otto</td>
        </tr>
        <tr>
          <th scope="row">nbfr</th>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div align="end">
    <button  type="button" class="btn btn-info">View all Issue</button>
  </div>
  
</div>
