<!-- <h1>project name:  <%= project.projectName %></h1> -->
<div class="container">
  <div class="d-flex flex-row-reverse mt-2 grid gap-3">
    <a type="button" class="btn btn-info" href="/api/v1/issues/"
      >Create Issue</a
    >
    <a type="button" class="btn btn-info" href="/api/v1/issues/">View all Issue</a>
  </div>

  <div>
    <h3>Project Details Page</h3>
    <table
      action="/"
      method="POST"
      class="table table-dark"
      id="staticBackdropDetails"
    >
      <thead>
        <tr>
          <th scope="col">Project Name</th>
          <th scope="col">Author</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><%= project.projectName %></th>
          <td><%= project.author %></td>
          <td><%= project.description %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
